
<section class="project">
  <div class="container"> 
    <div class="project__wrapper"><a class="subtitle" href="#">Проекты</a>
      <div class="owl-carousel owl-theme" id="project-slider">
        <div class="project__item">
          <div class="project__item__img"><img src="images/project/project-img-1.jpg" alt="Проект 1"/></div>
          <div class="project__item__content"><img class="project__item__logo" src="images/icons/project-logo-1.jpg" alt="Проект 1 лого"/>
            <h4 class="project__item__name">ПАО «Нижнекамскнефтехим»</h4>
            <ul class="project__item__list">
              <li><span class="project__item__list__preword">город</span>
                <p>Нижнекамск</p>
              </li>
              <li> <span class="project__item__list__preword">год</span>
                <p>2018 - 2019 гг.</p>
              </li>
              <li> <span class="project__item__list__preword">материал</span>
                <p>ДЕКОТЕРМ-ЭПОКСИ</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="project__item">
          <div class="project__item__img"><img src="images/project/project-img-2.jpg" alt="Проект 2"/></div>
          <div class="project__item__content"><img class="project__item__logo" src="images/icons/project-logo-2.jpg" alt="Проект 2 лого"/>
            <h4 class="project__item__name">ОАО «ТАИФ-НК», КГПТО</h4>
            <ul class="project__item__list">
              <li><span class="project__item__list__preword">город</span>
                <p>Нижнекамск</p>
              </li>
              <li> <span class="project__item__list__preword">год</span>
                <p>2016 - 2017 гг.</p>
              </li>
              <li> <span class="project__item__list__preword">материал</span>
                <p>ДЕКОТЕРМ-ЭПОКСИ</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="project__item">
          <div class="project__item__img"><img src="images/project/project-img-3.jpg" alt="Проект 3"/></div>
          <div class="project__item__content"><img class="project__item__logo" src="images/icons/project-logo-3.jpg" alt="Проект 3 лого"/>
            <h4 class="project__item__name">Завод двигателей «КАМАЗ»</h4>
            <ul class="project__item__list">
              <li><span class="project__item__list__preword">город</span>
                <p>Набережные Челны</p>
              </li>
              <li> <span class="project__item__list__preword">год</span>
                <p>2014 - 2017 гг.</p>
              </li>
              <li> <span class="project__item__list__preword">материал</span>
                <p>ДЕКОТЕРМ, ДЕКОТЕРМ-КОП</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="project__item">
          <div class="project__item__img"><img src="images/project/project-img-4.jpg" alt="Проект 4"/></div>
          <div class="project__item__content"><img class="project__item__logo" src="images/icons/project-logo-4.jpg" alt="Проект 4 лого"/>
            <h4 class="project__item__name">ТЭЦ № 2</h4>
            <ul class="project__item__list">
              <li><span class="project__item__list__preword">город</span>
                <p>Ростов-на-Дону</p>
              </li>
              <li> <span class="project__item__list__preword">год</span>
                <p>2016 г.</p>
              </li>
              <li> <span class="project__item__list__preword">материал</span>
                <p>ДЕКОТЕРМ-КОП</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="project__item">
          <div class="project__item__img"><img src="images/project/project-img-5.jpg" alt="Проект 5"/></div>
          <div class="project__item__content"><img class="project__item__logo" src="images/icons/project-logo-5.jpg" alt="Проект 5 лого"/>
            <h4 class="project__item__name">ТЭЦ № 2 ЛАЭС</h4>
            <ul class="project__item__list">
              <li><span class="project__item__list__preword">город</span>
                <p>Санкт-Петербург</p>
              </li>
              <li> <span class="project__item__list__preword">год</span>
                <p>2013 г.</p>
              </li>
              <li> <span class="project__item__list__preword">материал</span>
                <p>ДЕКОТЕРМ, ДЕКОТЕРМ-Р</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="project__item">
          <div class="project__item__img"><img src="images/project/project-img-6.jpg" alt="Проект 6"/></div>
          <div class="project__item__content"><img class="project__item__logo" src="images/icons/project-logo-6.jpg" alt="Проект 6 лого"/>
            <h4 class="project__item__name">ТЭЦ № 20</h4>
            <ul class="project__item__list">
              <li><span class="project__item__list__preword">город</span>
                <p>Москва</p>
              </li>
              <li> <span class="project__item__list__preword">год</span>
                <p>2014 - 2016 гг.</p>
              </li>
              <li> <span class="project__item__list__preword">материал</span>
                <p>ДЕКОТЕРМ, ДЕКОТЕРМ-КОП</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>