.map {
    max-width: 100vw;
}

.header__contact__select div {
    display: inline;
}

.bx-composite-btn {
    display: none !important;
}

body {
    overflow-x:hidden;
}

.projects-page .project__item {
  margin: 15px auto;
}

.product__links {
  justify-content: space-evenly;
}

.modal-video .modal-dialog,
.modal-video .modal-content {
    max-width: 100% !important;
    width: 100%;
    height: 100%;
}

.modal-video .modal-dialog {
  padding: 15px;
  margin: 0;
}

.modal-time #from__time-2 {
    width: 38px;
    height: 24px;
    padding-bottom: 7px;
    background: url("images/icons/rage_slider_bg.png") no-repeat center center;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
    position: absolute;
    left: 43.92%;
    top: 0; }
  .modal-time #to__time-2 {
    width: 38px;
    height: 24px;
    padding-bottom: 7px;
    background: url("images/icons/rage_slider_bg.png") no-repeat center center;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
    position: absolute;
    left: 67.88%;
    top: 0; }
  .modal-time #slider-range-2 {
    background-color: #d0d3d5;
    border: 0;
    border-radius: 4px;
    height: 8px;
    -webkit-box-shadow: inset 0px 0px 50px -51px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 50px -51px rgba(0, 0, 0, 0.75); }
    .modal-time #slider-range-2 .ui-slider-range {
      border: 1px solid #8f9497;
      border-radius: 4px;
      background: #3b3283;
      background: -webkit-gradient(linear, left top, right top, from(#3b3283), to(#314c97));
      background: -o-linear-gradient(left, #3b3283 0%, #314c97 100%);
      background: linear-gradient(to right, #3b3283 0%, #314c97 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#439f49', endColorstr='#93b83f',GradientType=1 ); }
    .modal-time #slider-range-2 .ui-slider-handle {
      background: transparent;
      outline: none;
      border: transparent;
      cursor: pointer; }