
<section class="brands">
  <div class="jotun">
    <div class="container"> 
      <div class="row">
        <div class="col-lg-6 offset-xl-1 col-xl-5"><a class="subtitle" href="#">Jotun</a>
          <p>Компания Йотун, основанная 1926 году в Норвегии, на сегодняшний день является одной из фирм, лидирующих на мировом рынке в области разработки и производства промышленных лакокрасочных покрытий.</p>
          <p>Лаборатории компании оснащены сверхсовременным оборудованием, позволяющим получать уникальные результаты исследований для производства новых красок.</p>
          <p>Значительное место в этих исследованиях отводится изучению влияния краски на окружающую среду и здоровье человека. Поэтому характеристики покрытий превосходят жесткие требования европейских институтов по охране окружающей среды.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="decoterm">
    <div class="container"> 
      <div class="row">
        <div class="offset-lg-6 col-lg-6 offset-xl-6 col-xl-6"><a class="subtitle" href="#"> <span>Огнезащита Декотерм</span></a>
          <p>Краски серии «Декотерм» получили свое название благодаря хорошим технологическим характеристикам и декоративным свойствам образующихся покрытий, помимо стандартных огнезащитных свойств самого материала. Все материалы сертифицированы: получены сертификаты пожарной безопасности и санитарно-эпидемиологические заключения. При производстве материалов «Декотерм» особое внимание уделяется как тщательному контролю всех входящих сырьевых компонентов, так и непосредственным мельчайшим деталям технологического процесса и контроля полученного продукта.</p>
          <p>Краски «Декотерм» неоднократно использовались на различных объектах промышленного и гражданского профиля по всей России, в том числе, совместно с российскими и импортными антикоррозийными материалами.</p>
        </div>
      </div>
    </div>
  </div>
</section>