
<div class="modal modal-town fade" id="selectTownModal" tabindex="-1" aria-labelledby="selectTownModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectTownModalLabel">Выбор города</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <ul class="modal-town__list">
          <li><a class="modal-town__link" href="#">Азнакаево</a></li>
          <li><a class="modal-town__link" href="#">Альметьевск</a></li>
          <li><a class="modal-town__link" href="#">Бавлы</a></li>
          <li><a class="modal-town__link" href="#">Бугульма</a></li>
          <li><a class="modal-town__link" href="#">Волгоград</a></li>
          <li><a class="modal-town__link" href="#">Воронеж</a></li>
          <li><a class="modal-town__link" href="#">Джалиль</a></li>
          <li><a class="modal-town__link" href="#">Екатеринбург</a></li>
          <li><a class="modal-town__link" href="#">Елабуга</a></li>
          <li><a class="modal-town__link" href="#">Заинск</a></li>
          <li><a class="modal-town__link" href="#">Ижевск</a></li>
          <li><a class="modal-town__link" href="#">Иркутск</a></li>
          <li><a class="modal-town__link" href="#">Казань</a></li>
          <li><a class="modal-town__link" href="#">Краснодар</a></li>
          <li><a class="modal-town__link" href="#">Красноярск</a></li>
          <li><a class="modal-town__link" href="#">Лениногорск</a></li>
          <li><a class="modal-town__link" href="#">Менделеевск</a></li>
          <li><a class="modal-town__link" href="#">Москва</a></li>
          <li><a class="modal-town__link active" href="#">Набережные Челны</a></li>
          <li><a class="modal-town__link" href="#">Нижнекамск</a></li>
          <li><a class="modal-town__link" href="#">Нижний Новгород</a></li>
          <li><a class="modal-town__link" href="#">Нурлат</a></li>
          <li><a class="modal-town__link" href="#">Омск</a></li>
          <li><a class="modal-town__link" href="#">Пермь</a></li>
          <li><a class="modal-town__link" href="#">Ростов-на-Дону</a></li>
          <li><a class="modal-town__link" href="#">Самара</a></li>
          <li><a class="modal-town__link" href="#">Санкт-Петербург</a></li>
          <li><a class="modal-town__link" href="#">Саратов</a></li>
          <li><a class="modal-town__link" href="#">Сургут</a></li>
          <li><a class="modal-town__link" href="#">Тюмень</a></li>
          <li><a class="modal-town__link" href="#">Ульяновск</a></li>
          <li><a class="modal-town__link" href="#">Уфа</a></li>
          <li><a class="modal-town__link" href="#">Челябинск</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>