
<section class="fire-protection">
  <div class="container"> 
    <div class="row">
      <div class="col-lg-7 offset-xl-1 col-xl-5"><a class="subtitle" href="#">Огнезащита</a>
        <p>Огнезащита — технические мероприятия, направленные на повышение огнестойкости и (или) снижение пожарной опасности зданий, сооружений, строительных конструкций (ГОСТ Р 53295—2009 СРЕДСТВА ОГНЕЗАЩИТЫ ДЛЯ СТАЛЬНЫХ КОНСТРУКЦИЙ)</p>
        <div class="fire-protection__use">
          <h4>Области применения огнезащитных красок:</h4>
          <div class="row">
            <div class="col-6 col-sm-4 col-xl-4">
              <div class="fire-protection__use__item">
                <div class="fire-protection__use__img img-1"></div>
                <h5 class="fire-protection__use__name">ПРОМЫШЛЕННОЕ<br> СТРОИТЕЛЬСТВО</h5>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-xl-4">
              <div class="fire-protection__use__item">
                <div class="fire-protection__use__img img-2"></div>
                <h5 class="fire-protection__use__name">ГРАЖДАНСКОЕ<br> СТРОИТЕЛЬСТВО</h5>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-xl-4">
              <div class="fire-protection__use__item">
                <div class="fire-protection__use__img img-3"></div>
                <h5 class="fire-protection__use__name">ТРАНСПОРТНЫЕ<br> УЗЛЫ</h5>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-xl-4">
              <div class="fire-protection__use__item">
                <div class="fire-protection__use__img img-4"></div>
                <h5 class="fire-protection__use__name">НЕФТЕГАЗОВЫЙ<br> СЕКТОР</h5>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-xl-4">
              <div class="fire-protection__use__item">
                <div class="fire-protection__use__img img-5"></div>
                <h5 class="fire-protection__use__name">ЭНЕРГЕТИЧЕСКИЙ<br> СЕКТОР</h5>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-xl-4">
              <div class="fire-protection__use__item">
                <div class="fire-protection__use__img img-6"></div>
                <h5 class="fire-protection__use__name">ХИМИЧЕСКИЕ<br> ПРОИЗВОДСТВА</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>