
<section class="greeting">
  <div class="container"> 
    <div class="row">
      <div class="col-lg-6 col-xl-6">
        <h1 class="greeting__title">Антикоррозийная<br> защита</h1>
        <ul class="greeting__list">
          <li>Нефтегазовой отрасли</li>
          <li>Общепромышленном строительстве</li>
          <li>Мостовых сооружениях</li>
        </ul>
      </div>
      <div class="col-lg-6 col-xl-6"><img class="greeting__img" src="images/greeting-img.png" alt="Greeting img"/></div>
    </div>
  </div>
</section>