
<header class="header">
  <nav class="navbar navbar-expand-lg"><a class="logo" href="/"><img src="images/icons/logo.png" alt="Логотип компании"/></a>
    <div class="collapse navbar-collapse" id="navbarHeader">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#">О компании</a></li>
        <li class="nav-item"><a class="nav-link" href="#">JOTUN</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Огнезащита декотерм</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Проекты</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Отзывы</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
      </ul>
      <div class="header__town"><a class="header__town__select select-town" data-toggle="modal" data-target="#selectTownModal">Набережные Челны</a><br/>
        <p class="header__town__text text-adress">ул. Раскольникова, 79, офис 5А</p>
      </div>
      <div class="header__contact"><a class="header__contact__select select-phone" id="phoneDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">8 (8552) 20-07-20</a>
        <div class="dropdown-menu phone-dropdown" aria-labelledby="phoneDropdownMenu"><a class="phone-dropdown__phone" href="tel:88552200720">8 (8552) 20-07-20<br></a><a class="phone-dropdown__phone" href="tel:89673790720">8 (967) 379-07-20</a>
          <p class="phone-dropdown__time">Пн-Сб 8:00 - 18:00</p>
          <button class="phone-dropdown__btn">Оставить заявку</button>
        </div><br/>
        <p class="header__contact__text text-mail">kam-info@mail.ru</p>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <div class="menu"><span class="bar"></span><span class="bar"></span></div>
    </button>
  </nav>
</header>